.square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.square__wrapper {
    display: flex;
    width: 310px;
    flex-wrap: wrap;
}